.p_input {
    width:5em;
}
.pb{
    display: inline-block;
    background-color:  aliceblue;
    width: 60px;
    height: 20px;
    text-align:center;
    border: 1px solid activecaption;
    border-radius:5px;
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pb:hover{
    background-color: aquamarine;
}
.nli{
    list-style-type: circle;
}
.oul{
    
}
.map {
    background-color: beige;
    border: 1px solid appworkspace; 
    border-radius:5px;
}
.dialog {
    position:absolute;
    height: 100%;
    width: 100%;
    border: 1px solid appworkspace; 
    top:0px;
    /*z-index:100;*/
    margin:-1px;
    background-image: url('images/tmbg.png');
    background-repeat: repeat;
}
.dialog .title{
    position:absolute;
    display: inline-block;
    background-color:  aliceblue;
    text-align:center;
    border: 1px solid activecaption;
    margin:-1px;
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dialog .body {
    position:absolute;
    margin:-1px;
    background-color:  aliceblue;
    border:1px solid activecaption;
}
.dialog .control{
    position:absolute;
    background-color:  aliceblue;
    border:1px solid activecaption;
    margin:-1px;
}